*

!.devcontainer/
!.devcontainer/**

!.github/
!.github/**

!mkdocs.yml
!docs/
!docs/**

!notebooks/
!notebooks/**

!src/
!src/**

!papers/
!papers/**

!tests/
!tests/**

!.env
!.gitignore
!.pre-commit-config.yaml
!.python-version
!uv.lock
!pyproject.toml

!README.md

**/__pycache__